*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
div h2{
    align:center;
}
.container{
    width: 100%;
    height: 100vh;
    background: #f5f6f7;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background: #315568;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: o;
    outline: 0;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: -8px -5px 15px rgb(221, 110, 110),5px 5px 15px rgb(10, 10, 10);
    background: transparent;
    font-size: 22px;
    color: rgb(226, 222, 222);
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin:20px 0
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}
form input.operator{
    color: rgb(12, 12, 12);
}
