* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.nav {
  background-color: rgb(74, 186, 230);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 95vw;
  border-top-width: 17px;
}
.nav > span {
  font-size: 96px;
  margin: 17px;
  margin-left: 46px;
}
.info a {
  text-decoration: none;
  color: black;
}
.nav > .info {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  margin: 7px;
  padding: 20px;
}
@media screen and (max-width: 1400px) {
  .nav {
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 95vw;
    border-top-width: 17px;
  }
}
.container {
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 95vw;
  border-top-width: 6px;
}
h5 {
  font-size: 20px;
  color: brown;
  padding: 14px;
}
.container > .about > p {
  padding: 14px;
}
.container > .pic > img {
  height: 200px;
  width: 162px;
  border-radius: 18px;
  margin-right: 34px;
  margin-top: 6px;
  border: 2px solid black;
}
@media screen and (max-width: 1400px) {
  .container {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 95vw;
    border-top-width: 6px;
  }
  .container > .pic > img {
    height: 200px;
    width: 162px;
    margin-left: 94px;
    border: 2px solid black;
  }
}
.maincontent {
  background-color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 95vw;
  border-top-width: 6px;
  border-bottom-width: 40px;
}
.content {
  margin-left: 40px;
}
.content > div {
  margin-left: 40px;
}
.content > div > button > a{
  border-radius: 13px;
  font-size: 16px;
}
.item {
  margin-right: 40px;
}
.item > div {
  margin-left: 40px;
}
@media screen and (max-width: 1400px) {
  .maincontent {
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 95vw;
    border-top-width: 6px;
    border-bottom-width: 40px;
  }
  .item {
    margin-left: 40px;
  }
}
footer > div {
  background-color: white;
  border: 1px solid white;
  margin: auto;
  max-width: 95vw;
  border-top-width: 6px;
  border-bottom-width: 40px;
}
footer > div > button {
  margin-left: 75px;
  border-radius: 13px;
  font-size: 24px;
}
